:root {
    --primary-text-color:#212121;
    --text-color:#757575;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --white-secondary: rgba(255, 255, 255, 0.6);
    --button-background-secondary: #F5F4FA;
}

body {
    background-color: #E5E5E5;
    color: var(--primary-text-color);

}
.list{
    list-style: none;
}
a {
    text-decoration: none;
}
/* цвет основного текста #212121 */
/*вторичный цвет текста #757575 */
/*белый #FFFFFF*/
/* акцент #2196F3 */

/* Logo */
.logo {
    color: #000000;
}
.logo-accent {
color: var(--accent-color);
}

/* site-nav and auth-nav */
.site-nav .link, .auth-nav .link{
    color: var(--primary-text-color) ;
}
.site-nav .link:hover, 
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
    .site-nav .link.current {
        color: var(--accent-color);
    }


/* oсобености*/
.section .text {
    color: var(--text-color) ;
}
/* Team */
.section .title {
    color: var(--primary-text-color);
}
.section .title:hover,
.section .title:focus{
    color: var(--accent-color)
}
/* button */

.button {
    color:var(--white-color) ;
    background-color: var(--accent-color);
    border: none;

}

.button .primary {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* footer*/
footer {
    background-color: #2F303A;
    color: var(--white-color);
}

.logo-secondary {
    color: var(--white-color);
}
.footer-link {
color:var(--white-secondary) ;
}